.hero {
  background-color: black;          
  display: flex;
  justify-content: space-between;   
  align-items: center;
  padding: 50px 80px;
  color: white;                     
}

.heroText {
  font-size: 24px;
  font-weight: bold;
}

.heroText h1 {
  margin: 10px 0;
}
