.carousel {
  width: 100%;
  padding: 10px 0;
}

.swiper-button-next,
.swiper-button-prev {
  pointer-events: auto !important; /* fix Cypress click issue */
  color: #34c94b !important;
}

.swiper-slide {
  width: auto !important;
}
